!icon.png
!manifest.json
!modlist.html
!README.md

.vscode/
config/
coremods/
crash-reports/
journeymap/
logs/
mods/
local/
!mods/index/
patchouli_books/
resourcepacks/
resources/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/

kubejs/exported/
kubejs/probe/
kubejs/data/tfc/tfc/food_items/food/

macro.py
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json

imgui.ini
.curseclient
minecraftinstance.json
