*

!.git/*
!config/*
!kubejs/assets/*
!kubejs/config/*
!kubejs/data/*
!kubejs/client_scripts/*
!kubejs/server_scripts/*
!kubejs/startup_scripts/*
!kubejs/jsconfig.json
!kubejs/README.txt
!mods/.index/*
!scripts/*
!icon.png
!manifest.json
!modlist.html
!README.md
